@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-4">Tag Helpers and View Components</h1>
        <p>Excercises from the PluralSight course - <a href="https://app.pluralsight.com/library/courses/aspdotnet-core-tag-helpers">ASP.NET Core Tag Helpes and View Components </a></p>
    </div>
