@using AuthoringTagHelpers.Data;
@inject IDataReader dataReader;

@{
    ViewData["Title"] = "Subjects";
}
@{
    List<Subject> subjects = dataReader.ReadSubjects();
}
@{
    var test = @subjects[0].Code;
}
    <div class="container">
        @for (int i = 0; i < subjects.Count; i++)
        {
           <subject-card subject=" @subjects[i]"></subject-card>       
        }
    </div>